[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "RFlocalfdr.data"]
	path = RFlocalfdr.data
	url = https://github.com/cran/RFlocalfdr.data
